# Configuracoes do Banco de Dados MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mortes_transito
DB_USER=seu-usuario-aqui
DB_PASSWORD=sua-senha-aqui

# Configuracoes do Google Sheets
GOOGLE_CREDENTIALS_PATH=credentials/seu-arquivo-credentials.json
GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/SEU_ID_AQUI/edit
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-email@seu-projeto.iam.gserviceaccount.com
